# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore local environment variables / secrets
.env

# Ignore virtual environments
venv/
.venv/

#Ignore playwright profiles
playwright_cc_profile/
playwright_bc_profile/
chrome_bc_debug/

#Ignore SQLite db
data/cqe.db

#Ignore tokens
token.pickle
token.json
stage1_token.json
sa.json
credentials.json
cqe_state.json
orchestrator_token.json
